<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body data-controller="symfony--ux-swup--swup">

<main id="swup">
    <ul>
        <li><a href="{{ path('cropper') }}">Cropper</a></li>
        <li><a href="{{ path('dropzone') }}">Dropzone</a></li>
    </ul>
    {% block body %}{% endblock %}
</main>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
